@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 20;
  height: 100vh;
  margin: 0;
}

.full-height {
    height: 100vh;
}

/*Titulo de la página*/
.navbar-brand {
    margin-left: 2px;
}

/*Logo de la página*/
.logo {
  width:120px;
  float:left;
}

/*Menú de la página*/
.navbar-nav {
  background-color: #86B22C;
}

#navbarDropdownMenuLink {
  color:white;
}

#navbarDropdownMenuLink:hover {
  color:black;
}

.dropdown-menu {
  background-color: #86B22C;
}

/*Iconos */
#icono {
  width:30px;
}

/*Politicas*/
#card  {
  background-color: #3b83bd;
  color:white;
}
